body{
    background-color: rgb(255, 255, 255);
}

.container{
  display: flex;
  top: 100PX;
  
}

.container.container.text-center{
    
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.justify-content-md-center{
  position: absolute;

  background-color: #ffffff;
  align-content: center;
  background-size: auto;
  top: 5%;
  bottom: 5%;
  left:5%;
  right: 5%;
  
}

.large-text{
  padding-bottom: 15px;
  font-size: 25px;
}

.col-12{
  align-items: center;
}

.btn{
  align-items: center;
}

