.profile{
    position: absolute;
    display: flex;
    top: 50px;
    left: 70px;
}

.profilePic{
    position: absolute;
    display: flex;
    width: 300px;
    height: 300px;
    top: 150px;
    left: 0px;
  
}

#changePic{
    width: 60px;
    height: 50px;
    position: relative;
    top: 130px;
    left: -170px;
}

#profilePicture{
    border-radius: 50%;
}

.infoBox{
    background-color: #c4c2c2;
    width: 900px;
    height: 450px;
    display: flex;
    position: absolute;
    top: 120px;
    left: 400px;
    z-index: -10;
}

#firstName{
    position: absolute;
    background-color: white;
    border-color: white;
    border-radius: 0;
    left: 220px;
    width: 500px;
}
#lastName{
    position: absolute;
    background-color: white;
    border-radius: 0;
    border-color: white;
    left: 220px;
    width: 500px;
}
#email{
    position: absolute;
    background-color: white;
    border-color: white;
    border-radius: 0;
    left: 220px;
    width: 500px;
}
#address{
    position: absolute;
    background-color: white;
    border-color: white;
    border-radius: 0;
    height: 100px;
    left: 220px;
    width: 500px;
}

.variableBox{
    position: relative;
    left: 50px;
    font-size: x-large;
    top: 50px;
}

.submitBtn{
    position: absolute;
    background-color: rgb(19, 140, 19);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    bottom: 10px;
    right: 10px;
}
