


.frame-chaild,
.frame-item{
    position: absolute;
    left: 0;
    border-radius: var(--br-x1);
    width: auto;
    height: auto;
}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 196%;
    color:black;
    
  
}


.flex-container {
    display: flex;
    top: 30px;
    background-image: url("../Assets/PartTimeJob/b2.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    
}
  

  .left-side {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; 
    
  }
  .left-side button:hover {
    background-color: #3cb336; 
}

  
  .left-side button {
    right: 50%;
    margin:40px;
    color: white;
    font-size: 200%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #3670B4;
    box-sizing:unset;
    width: 350px;
    height: 50px;
    
    
    
  }
  
  
  .right-side {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
  }
  
  
  .right-side img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }
  