
.container {
    display: flex;
    padding-top: 140px;
    padding-left: 50px;
}



.row {
    display: flex;
    padding-left: 20px;
    background-color: #d0d9d2;
    border-radius: 10%;
}

.col {
    flex: 2;
    padding: 20px;

}

.form-label {
    font-weight: bold;
    padding-left: 10px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.mb-3 {
    padding-top: 15px;
    margin-bottom: 20px;
    padding-left: 20px;
    align-content: right;
}

.mediaInput {
    margin-top: 20px;

}